[package]
name = "foo"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sha2 = "0.10"

[[bin]]
name = "main"
path = "src/main.rs"

[[bin]]
name = "legacy"
path = "src/legacy.rs"
